/* ismerem a z-indexet és azt, hogy miként lehetett volna ezt a feladatot jól megcsinálni flexboxal, de semmi időm nem lett volna a 
másik kettő projectre, ha most a z-index működésébe belevetem magam*/


html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40rem;
    width: 70rem;
}

.container__slide__img {
    position: relative;
    height: 50rem;
}

.img__counter {
    position: absolute;
    top: 1em;
    left: 2em;
    font-size: 2em;
    color: #ffffff;
}

.img__arrows--left {
    position: absolute;
    top: 45%;
    left: 1em;
    font-size: 2em;
    color: #ffffff;
}

.img__arrows--right {
    position: absolute;
    top: 45%;
    color: #ffffff;
    font-size: 2em;
    right: 1em;
}

.actualImg {
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}

.img__caption {
    position: absolute;
    top: 80%;
    right: 30%;
    font-size: 1.5em;
    color: #ffffff;
}

.container__slide__buttons {
    cursor: pointer;
}

.fa-regular {
    margin: 1em;
    cursor: pointer;
}

.fa-solid {
    margin: 1em;
    cursor: pointer;
}